@{
    ViewData["Title"] = "Home Page";
}

@*<div class="card">
    <div class="card-header"><h4>Index</h4></div>
    <div class="card-body"></div>
</div>*@
<div class="card">
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
    </div>
    <div style="text-align: center;">
        <iframe src="~/img/34600-bus-ticket (1).gif" style="width: 1000px; height: 1000px; margin-left:200px"></iframe>
    </div>
</div>

