@{
    ViewData["Title"] = "Home Page";
}

@*<div class="card">
        <div class="card-header"><h4>Index</h4></div>
        <div class="card-body"></div>
    </div>*@
<div class="card">
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
    </div>
    <div style="text-align: center;">
        <iframe src="~/img/34600-bus-ticket (1).gif" style="width: 1000px; height: 1000px; margin-left:200px"></iframe>


    </div>

    <div class="row">

        <div class="col-sm-6">

            <h1>Ejemplo 1 - Gráfica de líneas</h1>
            <canvas id="grafica"></canvas>

        </div>

        <div class="col-sm-6" style="max-width: 500px">

            <h1>Ejemplo 7 - Gráfica con estilos</h1>

            <canvas id="graficapai"></canvas>
        </div>
    </div>
</div>
<script src="~/js/GraficaViajes.js"></script>
<script src="~/js/Pai.js"></script>


