@model Terminal.WebUI.Models.ClientesModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>ClientesModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="clie_ID" class="control-label"></label>
                <input asp-for="clie_ID" class="form-control" />
                <span asp-validation-for="clie_ID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="clie_Nombres" class="control-label"></label>
                <input asp-for="clie_Nombres" class="form-control" />
                <span asp-validation-for="clie_Nombres" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="clie_Apellidos" class="control-label"></label>
                <input asp-for="clie_Apellidos" class="form-control" />
                <span asp-validation-for="clie_Apellidos" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="clie_DNI" class="control-label"></label>
                <input asp-for="clie_DNI" class="form-control" />
                <span asp-validation-for="clie_DNI" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="clie_Sexo" class="control-label"></label>
                <input asp-for="clie_Sexo" class="form-control" />
                <span asp-validation-for="clie_Sexo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="clie_Telefono" class="control-label"></label>
                <input asp-for="clie_Telefono" class="form-control" />
                <span asp-validation-for="clie_Telefono" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="clie_Email" class="control-label"></label>
                <input asp-for="clie_Email" class="form-control" />
                <span asp-validation-for="clie_Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="clie_UsuarioCreador" class="control-label"></label>
                <input asp-for="clie_UsuarioCreador" class="form-control" />
                <span asp-validation-for="clie_UsuarioCreador" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

