@model Terminal.WebUI.Models.TerminalesViewModel
<!-- Modal -->
<div class="modal fade" id="exampleModalDelete-@Model.term_ID" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <form method="post"  action="@Url.Action("DeleteConfirm","Terminal")" id="formCreate">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Eliminar Terminal</h5>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                              @Html.HiddenFor(model => model.term_ID)
                        </div>
                        <h2 style="color:white">Estas seguro de eliminar este Registro</h2>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cerrar</button>
                    <button type="submit"   class="btn btn-success">Crear</button>
                </div>
            </div>
        </div>
    </form>
</div>

 


