@model Terminal.WebUI.Models.HorariosViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>HorariosViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="hora_FechaSalida" class="control-label"></label>
                <input asp-for="hora_FechaSalida" class="form-control" />
                <span asp-validation-for="hora_FechaSalida" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="hora_FechaLlegada" class="control-label"></label>
                <input asp-for="hora_FechaLlegada" class="form-control" />
                <span asp-validation-for="hora_FechaLlegada" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="hora_Origen" class="control-label"></label>
                <input asp-for="hora_Origen" class="form-control" />
                <span asp-validation-for="hora_Origen" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="hora_Destino" class="control-label"></label>
                <input asp-for="hora_Destino" class="form-control" />
                <span asp-validation-for="hora_Destino" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="hora_CantidadPasajeros" class="control-label"></label>
                <input asp-for="hora_CantidadPasajeros" class="form-control" />
                <span asp-validation-for="hora_CantidadPasajeros" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

