@model Terminal.WebUI.Models.BoletosViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="wrapper wrapper-content">
    <div class="container container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="float-e-margins">
                    <form asp-action="Create" id="formCrear">
                        @Html.AntiForgeryToken()

                        <div class="card">
                            <div class="card-header">
                                <div class="row"><h1>Boletos</h1></div>
                            </div>
                            <div class="card-body">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                                <div class="card">
                                    <div class="card-header text-center bg-teal-300">
                                        <div class="row">
                                            <div class="col-4">

                                            </div>
                                            <div class="col-4" style="margin-top: 10px">
                                                <h1 style="font-family: Cooper; color: azure">Crear Registro</h1>
                                            </div>
                                            <div class="col-4">
                                                <div class="text-end">
                                                    @*<img src="https://i.gifer.com/3sf.gif" style="border-radius:100px;border:3px solid black; width:50%">*@
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="card-body">

                                        <div class="row">
                                            <div class="col-6">
                                                <div class="form-group">
                                                    <strong><label asp-for="term_ID" class="control-label text-dark"></label></strong>                                                    
                                                   <select asp-for="term_ID" class="form-control" asp-items="ViewBag.term_Id"><option value="">--Seleccione una opcion--</option></select>
                                                    <strong><span asp-validation-for="term_ID" class="text-danger"></span></strong>
                                                    
                                                </div>
                                            </div>
                                            <div class="col-6">
                                                <div class="form-group">
                                                    <strong><label asp-for="comp_ID" class="control-label text-dark"></label></strong>
                                                    <select asp-for="comp_ID" class="form-control" asp-items="ViewBag.comp_ID"><option value="">--Seleccione una opcion--</option></select>
                                                    <strong><span asp-validation-for="comp_ID" class="text-danger"></span></strong>

                                                </div>
                                            </div>
                                        </div>
                                        <br />

                                        <div class="row">
                                            <div class="col-6">
                                                <div class="form-group">
                                                    <strong><label asp-for="empl_ID" class="control-label text-dark"></label></strong>                                                    
                                                    <select asp-for="empl_ID" class="form-control" asp-items="ViewBag.empl_ID"><option value="">--Seleccione una opcion--</option></select>
                                                    <strong><span asp-validation-for="empl_ID" class="text-danger"></span></strong>                                                    
                                                </div>
                                            </div>

                                            <div class="col-6">
                                                <div class="form-group">
                                                    <strong><label asp-for="clie_ID" class="control-label text-dark"></label></strong>                                                    
                                                    <select asp-for="clie_ID" class="form-control" asp-items="ViewBag.clie_ID"><option value="">--Seleccione una opcion--</option></select>
                                                    <strong><span asp-validation-for="clie_ID" class="text-danger"></span></strong>
                                                    
                                                </div>
                                            </div>
                                        </div>

                                        <br />
                                        <div class="row">
                                            <div class="col-6">
                                                <div class="form-group">
                                                    <strong><label asp-for="hora_ID" class="control-label text-dark"></label></strong>                                                    
                                                    <select asp-for="hora_ID" class="form-control" asp-items="ViewBag.hora_ID"><option value="">--Seleccione una opcion--</option></select>
                                                    <strong><span asp-validation-for="hora_ID" class="text-danger"></span></strong>                                                    
                                                </div>
                                            </div>

                                            <div class="col-6">
                                                <div class="form-group">
                                                    <strong><label asp-for="pago_ID" class="control-label text-dark"></label></strong>                                                    
                                                    <select asp-for="pago_ID" class="form-control">
                                                        <option value="">--Seleccione una opcion--</option>
                                                        <option value="1">Efectivo</option>
                                                        <option value="2">Credito</option>
                                                        <option value="3">Debito</option>
                                                    </select>

                                                    <strong><span asp-validation-for="pago_ID" class="text-danger"></span></strong>                                                    
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="card-footer">
                                        <div class="row">
                                            <div class="col-8"></div>
                                            <div class="col-2">
                                                <input type="submit" value="Confirmar Envio" class="btn btn-outline-success" />
                                            </div>
                                            <div class="col-2">
                                                <a asp-action="Index" class="btn btn-outline-danger">Cancelar</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer">

                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    $(document).ready(function () {
        $("#hora_ID").change(function () {
            console.log("si cambio");
            var hora_ID = $("#hora_ID").val();
            $.getJSON('/Boleto/GetPrecio', { id: hora_ID })

                .done(function (horario) {
                    console.log(horario);
                    $("#muni_ID").prop("disabled", false);
                    var municipiosSelect = $('#muni_ID');
                    municipiosSelect.empty();

                    municipiosSelect.append($('<option>', {
                        value: '',
                        text: '--Selecciona un municipio--'
                    }));

                    $.each(municipios, function (index, item) {
                        municipiosSelect.append($('<option>', {
                            value: item.muni_ID,
                            text: item.muni_Descripcion
                        }));
                        console.log(item.muni_ID)
                    });

                })

                .fail(function (jqXHR, textStatus, errorThrown) {
                    console.error('Error al cargar los municipios: ' + textStatus + ', ' + errorThrown);
                });

        });
    });
</script>
