@model Terminal.WebUI.Models.CargosViewModel
<!-- Modal -->
<div class="modal fade" id="_Modal_Edit" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <form method="post" asp-controller="Cargo" asp-action="Update" id="formEdit">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body">

                    <div class="card">
                        <div class="card-header">
                            <h3 class="modal-title" id="exampleModalLongTitle">Editar</h3>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-3"></div>

                                <div class="col-6">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>                                    
                                    <input type="hidden" asp-for="carg_ID" id="carg_ID_Edit" />
                                    <div class="form-group">
                                        <strong><label asp-for="carg_Nombre" class="control-label"></label></strong>                                        
                                        <input asp-for="carg_Nombre" id="carg_Nombre_Edit" class="form-control" />
                                        <strong><label name="lbl_carg_Nombre_EditError" id="lbl_carg_Nombre_EditError" class="control-label" hidden style="color: red;">Campo 'Cargo' requerido</label></strong>                                        
                                    </div>
                                </div>

                                <div class="col-3"></div>

                            </div>
                        </div>

                        <div class="card-footer">
                            <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Cerrar</button>
                            <button type="button" onclick="GuardarModalEdit()" class="btn btn-outline-success">Editar</button>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </form>
</div>


<script>
    $(".Editar").on('click', function () {
        var carg_Nombre_Edit = $(this).data("nombre");
        var carg_ID_Edit = $(this).data("id");

        $("#lbl_carg_Nombre_EditError").attr('hidden', true);

        $("#carg_ID_Edit").val(carg_ID_Edit);
        $("#carg_Nombre_Edit").val(carg_Nombre_Edit);

        $("#_Modal_Edit").appendTo('body').modal('show');
    });
</script>


<script>
    function GuardarModalEdit() {
        var x = true;

        if ($("#carg_Nombre_Edit").val() == null || $("#carg_Nombre_Edit").val() == "") {
            x = false;
            $("#lbl_carg_Nombre_EditError").attr('hidden', false);
        } else {
            $("#lbl_carg_Nombre_EditError").attr('hidden', true);
            $("#formEdit").submit();
        }
    };

</script>