@model Terminal.WebUI.Models.CargosViewModel
<!-- Modal -->
    <div class="modal fade" id="_Modal_Create" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true"  data-backdrop="static">
        <div class="modal-dialog" role="document">
<form method="post" asp-controller="Cargo" asp-action="Create" id="formCreate">
            <div class="modal-content">
                <div class="modal-header">

                </div>
                <div class="modal-body">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="modal-title" id="exampleModalLongTitle">Nuevo Cargo</h3>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-2"></div>

                                <div class="col-8">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <input type="hidden" asp-for="carg_ID" id="carg_ID" />
                                    <div class="form-group">
                                        <strong><label asp-for="carg_Nombre" class="control-label text-dark"></label></strong>
                                        <input asp-for="carg_Nombre" id="carg_Nombre" class="form-control" style="border-color: darkgray; border-width: 1px; background-color: lightgray; font-weight: 500; color: black;" />
                                        <strong><span name="lbl_carg_Nombre_CreateError" id="lbl_carg_Nombre_CreateError" class="control-label" hidden style="color: red;">Campo 'Cargo' requerido</span></strong>

                                    </div>
                                </div>

                                <div class="col-2"></div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <button type="button" class="btn btn-outline-danger" data-bs-dismiss="modal">Cerrar</button>
                            <button type="button" onclick="GuardarModalCreate()" class="btn btn-outline-success">Crear</button>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">

                </div>
            </div>
</form>
        </div>
    </div>


<script>
    //Limitar Inputs
</script>

<script>
    function AbrirModalCreate() {
        $("#lbl_carg_Nombre_CreateError").attr('hidden', true);
        $("#_Modal_Create").appendTo('body').modal('show');
    };
</script>

<script>
    function GuardarModalCreate() {
        var carg_Nombre = $("#carg_Nombre").val();
        console.log(carg_Nombre);


        if (carg_Nombre == null || carg_Nombre == "") {
            $("#lbl_carg_Nombre_CreateError").attr('hidden', false);
        } else {
            $("#formCreate").submit();
        }
    }
</script>





